<section id="hero" class="hero">
  <div class="hero-content">
    <p class="eyebrow">SYSTEMS ENGINEERING · DATA · AI</p>

    <h1>
      Marcos Oldani<br />
    </h1>

    <p class="description">
      Systems Engineering student focused on data science, software development, and artificial intelligence.
    </p>

    <div class="hero-actions">
      <a class="primary-button" (click)="scrollTo('projects')">
        View my work
      </a>

      <a class="secondary-button" (click)="scrollTo('contact')">
        Contact me
      </a>
    </div>
  </div>

  <!-- <div class="hero-decoration" aria-hidden="true">
    <div class="grid"></div>
    <div class="glow"></div>
  </div> -->
</section>