<nav class="navbar">
  
  <ul class="navbar-links">
    <li>
      <a (click)="scrollTo('hero')">
        Home
      </a>
    </li>

    <li>
      <a (click)="scrollTo('about')">
        About
      </a>
    </li>

    <li>
      <a (click)="scrollTo('projects')">
        Projects
      </a>
    </li>

    <li>
      <a (click)="scrollTo('contact')">
        Contact
      </a>
    </li>
  </ul>

  <!-- <div class="navbar-actions">
    <button class="icon-button" type="button" aria-label="Toggle theme">
      ☾
    </button>

    <button class="language-button" type="button">
      EN
    </button>
  </div> -->
</nav>