<footer class="footer">
  <div class="container">
    <div class="social-media">
      <a href="https://github.com/oldaniMarcos" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>

      <a href="https://www.linkedin.com/in/marcos-oldani-2328591b8" target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>

      <a href="https://www.kaggle.com/marcosoldani1360" target="_blank" rel="noopener noreferrer">
        Kaggle
      </a>
    </div>

    <div class="copyright">
      <span>© 2026 Marcos Oldani</span>
    </div>
  </div>
</footer>